@import"https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900&display=swap";
@font-face {
    font-family: "icons";
    src: url("../font/icons.eot?66246224");
    src: url("../font/icons.eot?66246224#iefix") format("embedded-opentype"), url("../font/icons.woff2?66246224") format("woff2"), url("../font/icons.woff?66246224") format("woff"), url("../font/icons.ttf?66246224") format("truetype"), url("../font/icons.svg?66246224#icons") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

[class^=icon-]:before,
[class*=" icon-"]:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-down-dir:before {
    content: ""
}

.icon-html5-1:before {
    content: ""
}

.icon-heart:before {
    content: ""
}

.icon-handshake:before {
    content: ""
}

.icon-golang:before {
    content: ""
}

.icon-upload:before {
    content: ""
}

.icon-twitter:before {
    content: ""
}

.icon-github:before {
    content: ""
}

.icon-bars:before {
    content: ""
}

.icon-linkedin-in:before {
    content: ""
}

.icon-angle-double-right:before {
    content: ""
}

.icon-html5:before {
    content: ""
}

.icon-instagram:before {
    content: ""
}

.icon-paw:before {
    content: ""
}

.icon-whatsapp:before {
    content: ""
}

.icon-css3-alt:before {
    content: ""
}

.icon-facebook-f:before {
    content: ""
}

.icon-js:before {
    content: ""
}

.icon-map-marker-alt:before {
    content: ""
}

.icon-node-js:before {
    content: ""
}

.icon-python:before {
    content: ""
}

.icon-react:before {
    content: ""
}

.icon-vuejs:before {
    content: ""
}

.icon-angular:before {
    content: ""
}

.icon-php:before {
    content: ""
}

.icon-clipboard-list:before {
    content: ""
}

* {
    -webkit-overflow-scrolling: touch;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none
}

::selection {
    background: #f67521;
    color: #0e0e11
}

::-moz-selection {
    background: #f67521;
    color: #fff
}

body {
    background: #f5f6f7;
    -webkit-font-smoothing: antialiased;
    font-family: Merriweather, sans-serif
}

.button {
    font-family: Merriweather, sans-serif;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    height: 45px;
    padding: 0 25px;
    font-size: 15px;
    font-weight: 500;
    color: #0e0e11;
    box-sizing: border-box;
    border: 3px solid #0e0e11;
    background: transparent;
    transition: 500ms color;
    position: relative;
    z-index: 1
}

.button.big {
    height: 50px;
    font-size: 18px;
    font-weight: 500
}

.button::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 500ms width;
    background: #fff
}

.button:hover {
    color: #111
}

.button:hover::before {
    width: 100%
}

.button i {
    margin-left: 10px;
    color: #f67521
}

.container {
    width: 1100px;
    margin: 0 auto
}

header .container {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-between
}

header .menu {
    display: flex;
    align-items: center
}

header .menu .logo {
    display: none
}

header .menu ul {
    margin-right: 40px;
    display: flex
}

header .menu ul li {
    margin-left: 40px
}

header .menu ul li a {
    display: block;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 3px;
    position: relative;
    z-index: 1
}

header .menu ul li a::before {
    content: "";
    width: 0;
    height: 3px;
    background: #f67521;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 500ms width
}

header .menu ul li.active a::before {
    width: 100%
}

header .menu .btn {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 500;
    color: #0e0e11;
    border: 3px solid #0e0e11;
    background: #fff;
    position: relative;
    transition: 300ms color;
    z-index: 1
}

header .menu .btn::before {
    content: "";
    width: 0;
    height: 100%;
    background: #f67521;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 300ms width
}

header .menu .btn i {
    margin-left: 10px;
    color: #f67521;
    transition: 300ms color
}

header .menu .btn:hover {
    color: #fff
}

header .menu .btn:hover i {
    color: #fff
}

header .menu .btn:hover::before {
    width: 100%
}

header .logo a {
    display: flex;
    color: #0e0e11;
    padding: 15px 30px;
    border: 3px solid #0e0e11;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold
}

header .logo a .v2 {
    position: relative
}

header .logo a .v2::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f67521;
    position: absolute;
    bottom: 6px;
    right: -2px;
    border: 3px solid #0e0e11
}

header .toggle-btn {
    width: 60px;
    height: 60px;
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    position: relative;
    z-index: 9999999
}

h3.title {
    display: inline-flex;
    font-size: 30px;
    letter-spacing: 1px;
    color: #fff;
    position: relative;
    margin-bottom: 20px
}

h3.title::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #f67521;
    position: absolute;
    bottom: 3px;
    right: 2px;
    border: 3px solid #0e0e11
}

@keyframes responsive {
    0% {
        width: 50%;
        min-width: 50%
    }
    50% {
        width: 30%;
        min-width: 30%
    }
}

main {
    margin: 60px 0
}

main .message {
    border: 3px solid #eb0500;
    margin-bottom: 30px;
    color: #eb0500;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    letter-spacing: 1px
}

main .message h6 {
    font-size: 26px;
    font-weight: bold
}

main .message p {
    color: #fff;
    margin-top: 8px
}

main .message i {
    margin-right: 25px;
    font-size: 50px;
    color: #eb0500
}

main .message.success {
    border-color: #4eac2f;
    color: #4eac2f
}

main .message.success i {
    color: #4eac2f
}

main .blog-posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

main .blog-posts .blog-single {
    width: 49%;
    box-sizing: border-box
}

main .blog-load-more-btn {
    text-align: center
}

main .blog-single {
    border: 3px solid #0e0e11;
    padding: 20px 30px;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center
}

main .blog-single header h6 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px
}

main .blog-single header h6 a {
    color: #0e0e11
}

main .blog-single header .inner {
    display: flex;
    margin-top: 10px;
    align-items: center
}

main .blog-single header .inner .time {
    color: #0e0e11;
    display: flex;
    align-items: center
}

main .blog-single header .inner .time i {
    margin-right: 8px;
    color: #f67521
}

main .blog-single header .inner .category {
    margin-left: 20px;
    background: #f67521;
    padding: 8px 15px;
    font-size: 16px
}

main .blog-single p {
    font-size: 20px;
    line-height: 1.4;
    color: rgba(255, 255, 255, .6)
}

main .hello-banner {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-bottom: 100px;
    position: relative
}

main .hello-banner::after {
    display: none;
    content: "";
    width: 4px;
    position: absolute;
    top: -299px;
    z-index: -1;
    right: 500px;
    height: 400px;
    transform: skewX(30deg);
    background: #f67521
}

main .hello-banner::before {
    content: "";
    position: absolute;
    top: 186px;
    right: 0;
    width: 2px;
    height: 300px;
    background: #f67521
}

main .hello-banner .inner {
    flex: 1;
    padding-right: 60px
}

main .hello-banner .inner h2 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 15px;
    position: relative;
    display: inline-flex
}

main .hello-banner .inner h2::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #f67521;
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 3px solid #0e0e11
}

main .hello-banner .inner p {
    line-height: 2.2;
    font-size: 18px;
    color: rgba(255, 255, 255, .6);
    margin-bottom: 15px
}

main .hello-banner .inner p span {
    color: #fff;
    position: relative;
    z-index: 1;
    display: inline-block
}

main .hello-banner .inner p span::before {
    content: "";
    height: 3px;
    background: #f67521;
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 100%;
    z-index: -1
}

main .hello-banner .inner a {
    display: inline-flex;
    align-items: center;
    height: 50px;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    box-sizing: border-box;
    border: 3px solid #fff;
    background: transparent;
    transition: 500ms color;
    position: relative;
    z-index: 1
}

main .hello-banner .inner a::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 500ms width;
    background: #fff
}

main .hello-banner .inner a:hover {
    color: #111
}

main .hello-banner .inner a:hover::before {
    width: 100%
}

main .hello-banner .inner a i {
    margin-left: 10px;
    color: #f67521
}

main .section {
    padding-bottom: 75px;
    margin-bottom: 75px;
    position: relative
}

main .how-it-works .steps ul {
    display: flex;
    margin: 0 -15px
}

main .how-it-works .steps ul li {
    flex: 1;
    margin: 0 15px;
    border: 3px solid #17171b;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    position: relative;
    border-right: none
}

main .how-it-works .steps ul li .number {
    position: absolute;
    top: -70px;
    right: -27px;
    font-size: 170px;
    font-weight: 900;
    color: #17171b
}

main .how-it-works .steps ul li:last-child .number {
    font-size: 150px
}

main .how-it-works .steps ul li .icon {
    font-size: 36px;
    color: #fff;
    opacity: .4;
    margin-right: 20px
}

main .how-it-works .steps ul li .icon .icon-upload {
    font-size: 30px
}

main .how-it-works .steps ul li p {
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    flex: 1
}

main .latest-work ul {
    display: flex;
    margin: 0 -15px
}

main .latest-work ul li {
    margin: 0 15px
}

main .latest-work ul li a {
    display: block;
    border: 3px solid #fff;
    position: relative
}

main .latest-work ul li a img {
    display: block;
    width: 100%;
    height: 200px;
    opacity: .3;
    object-fit: cover
}

main .latest-work ul li a::before {
    content: "";
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(11, 12, 13, 0.5) 54%, #151718 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(11, 12, 13, 0.5) 54%, #151718 100%);
    position: absolute;
    top: 0;
    left: 0
}

main .latest-work ul li a .hover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#000000", GradientType=0);
    padding: 70px 15px 15px
}

main .latest-work ul li a .hover .title {
    font-size: 18px;
    color: #fff;
    display: block;
    letter-spacing: 1px;
    margin-bottom: 10px
}

main .latest-work ul li a .hover .tags {
    display: flex
}

main .latest-work ul li a .hover .tags span {
    background: #f67521;
    color: #0e0e11;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 10px
}

main .latest-work .latest-work-item {
    display: flex;
    align-items: center;
    margin-bottom: 100px
}

main .latest-work .latest-work-item:last-child {
    margin-bottom: 0
}

main .latest-work .latest-work-item .browser {
    width: 50%;
    min-width: 50%;
    border: 3px solid rgba(255, 255, 255, .1)
}

main .latest-work .latest-work-item .browser .title {
    height: 30px;
    background: rgba(255, 255, 255, .05);
    display: flex;
    align-items: center
}

main .latest-work .latest-work-item .browser .title span {
    width: 8px;
    height: 8px;
    background: #f69f19;
    border-radius: 50%;
    position: relative;
    margin-left: 30px
}

main .latest-work .latest-work-item .browser .title span::before {
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: #e9203a;
    position: absolute;
    top: 0;
    left: -15px
}

main .latest-work .latest-work-item .browser .title span::after {
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: #4eac2f;
    position: absolute;
    top: 0;
    right: -15px
}

main .latest-work .latest-work-item .browser .content {
    height: 300px;
    background-size: cover;
    transition: 5s all;
    border: 5px solid #111
}

main .latest-work .latest-work-item .browser .content:hover {
    background-position: bottom
}

main .latest-work .latest-work-item .inner {
    padding-left: 30px
}

main .latest-work .latest-work-item .inner .title {
    font-size: 34px;
    color: #fff;
    font-weight: 900;
    letter-spacing: 2px
}

main .latest-work .latest-work-item .inner .tags {
    padding-top: 10px;
    display: flex
}

main .latest-work .latest-work-item .inner .tags a {
    display: block;
    padding: 5px 10px;
    font-size: 15px;
    background: #f67521;
    color: #111;
    margin-right: 10px
}

main .latest-work .latest-work-item .inner .description {
    font-size: 17px;
    line-height: 1.5;
    color: rgba(255, 255, 255, .7);
    font-weight: 300;
    margin-top: 25px
}

main .latest-work .latest-work-item .inner ul {
    padding-top: 20px;
    display: flex;
    flex-direction: column
}

main .latest-work .latest-work-item .inner ul li {
    padding-bottom: 10px;
    color: #fff;
    display: flex;
    align-items: center
}

main .latest-work .latest-work-item .inner ul li i {
    margin-right: 10px
}

main .latest-work .latest-work-item .inner ul li .key {
    margin-right: 20px
}

main .latest-work .latest-work-item .inner ul li .val {
    color: #f67521
}

main .latest-work .latest-work-item .inner .button {
    margin-top: 20px
}

main .latest-work .latest-work-item:nth-child(odd) {
    flex-direction: row-reverse
}

main .latest-work .latest-work-item:nth-child(odd) .inner {
    padding-left: 0;
    padding-right: 30px
}

main .technologies h3 {
    margin-bottom: 25px
}

main .technologies>div.title {
    font-size: 14px;
    color: rgba(255, 255, 255, .6);
    letter-spacing: 2px;
    margin-bottom: 15px
}

main .technologies ul {
    display: flex;
    margin: 0 -15px 30px
}

main .technologies ul li {
    width: calc(100% / 6 - 30px);
    margin: 0 15px
}

main .technologies ul li a {
    display: flex;
    background: rgba(255, 255, 255, .03);
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 500ms all
}

main .technologies ul li a:hover {
    background: rgba(255, 255, 255, .06)
}

main .technologies ul li a i {
    font-size: 30px;
    margin-bottom: 10px;
    color: #fff
}

main .technologies ul li a i.icon-html5-1 {
    color: #e95d26
}

main .technologies ul li a i.icon-css3-alt {
    color: #34a3d5
}

main .technologies ul li a i.icon-js {
    color: #f0da1d
}

main .technologies ul li a i.icon-react {
    color: #5ed5f4
}

main .technologies ul li a i.icon-vuejs {
    color: #3fb37f
}

main .technologies ul li a i.icon-angular {
    color: #dc3235
}

main .technologies ul li a i.icon-php {
    color: #7477ae
}

main .technologies ul li a i.icon-node-js {
    color: #8cc03f
}

main .technologies ul li a i.icon-python {
    color: #f8d043
}

main .technologies ul li a i.icon-golang {
    color: #66d1de
}

main .technologies ul li a .title {
    color: #fff
}

main .related {
    display: flex;
    margin: 0 -15px;
    align-items: stretch
}

main .related li {
    flex: 1;
    margin: 0 15px
}

main .related li a {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    line-height: 1.6;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 20px 30px;
    background: rgba(255, 255, 255, .06);
    transition: 300ms background-color
}

main .related li a:hover {
    background: rgba(255, 255, 255, .08)
}

main .related li a .time {
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
    font-weight: 300
}

main .article-content {
    line-height: 1.7;
    margin-bottom: 60px;
    font-size: 16px;
    color: rgba(22, 22, 22, 0.8)
}

main .article-content .article-author {
    display: flex;
    margin-bottom: 25px;
    font-size: 16px;
    align-items: center
}

main .article-content .article-author .date {
    opacity: .6;
    color: #0e0e11
}

main .article-content .article-author .category {
    margin-right: 20px;
    background: #f67521;
    padding: 4px 10px;
    color: #222
}

main .article-content ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 30px;
    margin-bottom: 20px
}

main .article-content ul ul li {
    list-style-type: circle
}

main .article-content ul li {
    list-style-type: disc
}

main .article-content ul li code {
    padding: 3px 6px;
    background: rgba(255, 255, 255, .1);
    color: #f67521
}

main .article-content h1,
main .article-content h2,
main .article-content h3,
main .article-content h4,
main .article-content h5,
main .article-content h6 {
    line-height: 1.3;
    color: #0e0e11;
    font-weight: bold;
    margin-bottom: 15px
}

main .article-content h1 {
    font-size: 38px;
    margin-bottom: 5px
}

main .article-content h2 {
    font-size: 30px
}

main .article-content h3 {
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 15px !important
}

main .article-content h4 {
    font-size: 24px
}

main .article-content h5 {
    font-size: 20px
}

main .article-content h6 {
    font-size: 18px
}

main .article-content hr {
    border: none;
    height: 30px
}

main .article-content h5 {
    margin-bottom: 10px;
    font-size: 20px
}

main .article-content p {
    margin-bottom: 15px
}

main .article-content p a {
    color: #0e0e11;
    border-bottom: 3px solid #f67521
}

main .article-content p>code {
    padding: 3px 6px;
    background: rgba(255, 255, 255, .5);
    color: #f67521
}

main .article-content p:last-child {
    margin-bottom: 0
}

main .article-content pre {
    margin-bottom: 15px
}

main .article-content pre code {
    padding: 15px;
    font: normal 16px/1.6 Consolas, Monaco, monospace !important
}

main .contact-box {
    margin-bottom: 25px
}

main .contact-box ul {
    display: flex;
    margin: 0 -15px
}

main .contact-box ul li {
    flex: 1;
    margin: 0 15px;
    background: rgba(255, 255, 255, .1);
    padding: 15px 25px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #0e0e11;
    line-height: 1.4
}

main .contact-box ul li i {
    font-size: 40px;
    margin-right: 20px;
    color: #f67521
}

main .contact-box ul li i.icon-whatsapp {
    color: #4eac2f
}

main .get-offer h3 {
    margin-bottom: 30px
}

main .get-offer .form-container {
    margin-bottom: 70px
}

main .get-offer .form-container .form-title {
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 20px;
    border-left: 3px solid #f67521;
    padding-left: 15px
}

main .get-offer .form-container .form-alt-title {
    font-size: 14px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, .6);
    margin-bottom: 15px;
    display: flex;
    align-items: center
}

main .get-offer .form-container .form-alt-title i {
    margin-right: 10px;
    font-size: 16px
}

main .get-offer .form-container .form-label {
    margin: 0 -15px;
    display: flex
}

main .get-offer .form-container .form-label .form-input {
    flex: 1;
    margin: 0 15px
}

main .get-offer .form-container .form-label .form-input input {
    font-family: Merriweather, sans-serif;
    border: 3px solid rgba(255, 255, 255, .1);
    height: 50px;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    color: #fff
}

main .get-offer .form-container .form-label .form-input input:focus {
    outline: 0;
    border-color: #f67521
}

main .get-offer .form-container .form-label .form-input input::placeholder {
    color: #fff
}

main .get-offer .form-container .form-label .form-input textarea {
    font-family: Merriweather, sans-serif;
    border: 3px solid rgba(255, 255, 255, .1);
    padding: 15px;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: 2px;
    width: 100%;
    overflow: auto;
    resize: none;
    box-sizing: border-box;
    background: transparent;
    color: #fff
}

main .get-offer .form-container .form-label .form-input textarea:focus {
    outline: 0;
    border-color: #f67521
}

main .get-offer .form-container .form-label .form-input textarea::placeholder {
    color: #fff
}

main .get-offer .form-container .form-button {
    margin: 0 15px;
    display: flex;
    align-items: center
}

main .get-offer .form-container .form-button .form-button {
    font-size: 14px
}

main .get-offer .form-container .form-button .result-text {
    color: #fff;
    margin-left: 25px;
    letter-spacing: 1px
}

main .get-offer .form-container .form-button .result-text.success {
    color: #4eac2f
}

main .get-offer .form-container .form-button .result-text.error {
    color: #f6150a
}

main .get-offer .form-container .form-types {
    display: flex;
    align-items: center
}

main .get-offer .form-container .form-types .form-checkbox {
    margin-right: 40px
}

main .get-offer .form-container .divider {
    height: 40px
}

main .get-offer .form-container .form-upload {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    color: #fff
}

main .get-offer .form-container .form-upload .result-text {
    margin-left: 20px;
    display: flex;
    align-items: center
}

main .get-offer .form-container .form-upload .result-text i {
    margin-left: 10px
}

main .get-offer .form-container .form-upload .result-text.success {
    color: #4eac2f
}

main .get-offer .form-container .form-upload .result-text.error {
    color: #f6150a
}

main .get-offer .form-container .form-upload input {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    opacity: 0;
    cursor: pointer
}

main .get-offer .form-container .form-upload input:valid+.button {
    border-color: #4eac2f !important
}

main .get-offer .form-container .form-upload input:valid+.button .fa-plus {
    display: none
}

main .get-offer .form-container .form-upload input:valid+.button .fa-check {
    display: block;
    color: #4eac2f
}

main .get-offer .form-container .form-upload input:valid+.button span {
    display: block
}

main .get-offer .form-container .form-upload .text {
    height: 50px;
    display: inline-flex;
    box-sizing: border-box;
    color: #fff;
    align-items: center;
    padding: 0 25px;
    border: 3px solid #fff
}

main .get-offer .form-container .form-upload .text i {
    margin-left: 10px;
    color: #f67521
}

main .get-offer .form-container .form-upload .button span {
    display: none
}

main .get-offer .form-container .form-upload .button .fa-check {
    display: none
}

main .get-offer .form-container .form-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer
}

main .get-offer .form-container .form-checkbox .checkbox {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 3px solid rgba(255, 255, 255, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f67521;
    margin-right: 15px
}

main .get-offer .form-container .form-checkbox .checkbox i {
    display: none
}

main .get-offer .form-container .form-checkbox .text {
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, .3)
}

main .get-offer .form-container .form-checkbox:hover .checkbox {
    border-color: rgba(255, 255, 255, .3)
}

main .get-offer .form-container .form-checkbox:hover .text {
    color: rgba(255, 255, 255, .8)
}

main .get-offer .form-container .form-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer
}

main .get-offer .form-container .form-checkbox input:checked+.checkbox {
    border-color: #f67521
}

main .get-offer .form-container .form-checkbox input:checked+.checkbox i {
    display: block
}

main .get-offer .form-container .form-checkbox input:checked+.checkbox+.text {
    color: #fff
}

footer .container .social {
    padding-top: 15px
}

footer .container .social ul {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap
}

footer .container .social ul li {
    width: calc(100% / 3 - 30px);
    margin: 0 15px 15px
}

footer .container .social ul li a {
    display: flex;
    height: 50px;
    border: 3px solid #fff;
    align-items: center;
    font-size: 16px;
    color: #0e0e11;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 300ms color
}

footer .container .social ul li a::before {
    content: "";
    width: 0;
    height: 100%;
    background: #fff;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: skew(-20deg);
    transition: 500ms all
}

footer .container .social ul li a i {
    font-size: 24px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-right: 3px solid #fff;
    margin-right: 20px
}

footer .container .social ul li a i.icon-facebook-f {
    background: #3b5998
}

footer .container .social ul li a i.icon-twitter {
    background: #1da1f2
}

footer .container .social ul li a i.icon-linkedin-in {
    background: #0077b5
}

footer .container .social ul li a i.icon-whatsapp {
    background: #25d366
}

footer .container .social ul li a i.icon-instagram {
    background: #e1306c
}

footer .container .social ul li a i.icon-github {
    background: #333
}

footer .container .social ul li a:hover {
    color: #0e0e11
}

footer .container .social ul li a:hover::before {
    width: 60%
}

footer .container .social ul li.facebook a::before {
    background: #3b5998
}

footer .container .social ul li.twitter a::before {
    background: #1da1f2
}

footer .container .social ul li.linkedin a::before {
    background: #0077b5
}

footer .container .social ul li.instagram a::before {
    background: #e1306c
}

footer .container .social ul li.github a::before {
    background: #333
}

footer .container .social ul li.whatsapp a::before {
    background: #25d366
}

footer .container .phone {
    width: 380px;
    height: 60px;
    border: 3px solid #25d366;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
    color: #fff;
    font-size: 30px
}

footer .container .phone i {
    color: #25d366;
    font-size: 40px;
    margin-right: 20px
}

footer .container address {
    text-align: center;
    font-size: 12px;
    color: rgba(24, 24, 24, 0.5);
    line-height: 1.4;
    padding-bottom: 50px
}

#bongo-cat {
    width: 400px;
    fill: #f67521
}

.typing-animation {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1200ms;
    animation-duration: 1200ms
}

path#f1-l1 {
    -webkit-animation-name: typing-f1-l1;
    animation-name: typing-f1-l1
}

path#f1-l2 {
    -webkit-animation-name: typing-f1-l2;
    animation-name: typing-f1-l2
}

path#f1-l3 {
    -webkit-animation-name: typing-f1-l3;
    animation-name: typing-f1-l3
}

path#f2-l4 {
    -webkit-animation-name: typing-f2-l4;
    animation-name: typing-f2-l4
}

path#f2-l5 {
    -webkit-animation-name: typing-f2-l5;
    animation-name: typing-f2-l5
}

path#f2-l6 {
    -webkit-animation-name: typing-f2-l6;
    animation-name: typing-f2-l6
}

path#f3-l7 {
    -webkit-animation-name: typing-f3-l7;
    animation-name: typing-f3-l7
}

path#f3-l8 {
    -webkit-animation-name: typing-f3-l8;
    animation-name: typing-f3-l8
}

path#f3-l9 {
    -webkit-animation-name: typing-f3-l9;
    animation-name: typing-f3-l9
}

@-webkit-keyframes typing-f3-l9 {
    0% {
        d: path("M8,25L8,25")
    }
    82% {
        d: path("M8,25L8,25")
    }
    92% {
        d: path("M8,25L96,25")
    }
    100% {
        d: path("M8,25L96,25")
    }
}

@keyframes typing-f3-l9 {
    0% {
        d: path("M8,25L8,25")
    }
    82% {
        d: path("M8,25L8,25")
    }
    92% {
        d: path("M8,25L96,25")
    }
    100% {
        d: path("M8,25L96,25")
    }
}

@-webkit-keyframes typing-f3-l8 {
    0% {
        d: path("M8,13L8,13")
    }
    68% {
        d: path("M8,13L8,13")
    }
    82% {
        d: path("M8,13L146,13")
    }
    100% {
        d: path("M8,13L146,13")
    }
}

@keyframes typing-f3-l8 {
    0% {
        d: path("M8,13L8,13")
    }
    68% {
        d: path("M8,13L8,13")
    }
    82% {
        d: path("M8,13L146,13")
    }
    100% {
        d: path("M8,13L146,13")
    }
}

@-webkit-keyframes typing-f3-l7 {
    0% {
        d: path("M0,1L0,1")
    }
    60% {
        d: path("M0,1L0,1")
    }
    68% {
        d: path("M0,1L96,1")
    }
    100% {
        d: path("M0,1L96,1")
    }
}

@keyframes typing-f3-l7 {
    0% {
        d: path("M0,1L0,1")
    }
    60% {
        d: path("M0,1L0,1")
    }
    68% {
        d: path("M0,1L96,1")
    }
    100% {
        d: path("M0,1L96,1")
    }
}

@-webkit-keyframes typing-f2-l6 {
    0% {
        d: path("M8,25L8,25")
    }
    54% {
        d: path("M8,25L8,25")
    }
    60% {
        d: path("M8,25L69,25")
    }
    100% {
        d: path("M8,25L69,25")
    }
}

@keyframes typing-f2-l6 {
    0% {
        d: path("M8,25L8,25")
    }
    54% {
        d: path("M8,25L8,25")
    }
    60% {
        d: path("M8,25L69,25")
    }
    100% {
        d: path("M8,25L69,25")
    }
}

@-webkit-keyframes typing-f2-l5 {
    0% {
        d: path("M8,13L8,13")
    }
    44% {
        d: path("M8,13L8,13")
    }
    54% {
        d: path("M8,13L114,13")
    }
    100% {
        d: path("M8,13L114,13")
    }
}

@keyframes typing-f2-l5 {
    0% {
        d: path("M8,13L8,13")
    }
    44% {
        d: path("M8,13L8,13")
    }
    54% {
        d: path("M8,13L114,13")
    }
    100% {
        d: path("M8,13L114,13")
    }
}

@-webkit-keyframes typing-f2-l4 {
    0% {
        d: path("M0,1L0,1")
    }
    30% {
        d: path("M0,1L0,1")
    }
    44% {
        d: path("M0,1L136,1")
    }
    100% {
        d: path("M0,1L136,1")
    }
}

@keyframes typing-f2-l4 {
    0% {
        d: path("M0,1L0,1")
    }
    30% {
        d: path("M0,1L0,1")
    }
    44% {
        d: path("M0,1L136,1")
    }
    100% {
        d: path("M0,1L136,1")
    }
}

@-webkit-keyframes typing-f1-l3 {
    0% {
        d: path("M8,25L8,25")
    }
    24% {
        d: path("M8,25L8,25")
    }
    30% {
        d: path("M8,25L61,25")
    }
    100% {
        d: path("M8,25L61,25")
    }
}

@keyframes typing-f1-l3 {
    0% {
        d: path("M8,25L8,25")
    }
    24% {
        d: path("M8,25L8,25")
    }
    30% {
        d: path("M8,25L61,25")
    }
    100% {
        d: path("M8,25L61,25")
    }
}

@-webkit-keyframes typing-f1-l2 {
    0% {
        d: path("M8,13L8,13")
    }
    14% {
        d: path("M8,13L8,13")
    }
    24% {
        d: path("M8,13L124,13")
    }
    100% {
        d: path("M8,13L124,13")
    }
}

@keyframes typing-f1-l2 {
    0% {
        d: path("M8,13L8,13")
    }
    14% {
        d: path("M8,13L8,13")
    }
    24% {
        d: path("M8,13L124,13")
    }
    100% {
        d: path("M8,13L124,13")
    }
}

@-webkit-keyframes typing-f1-l1 {
    0% {
        d: path("M0,1L0,1")
    }
    14% {
        d: path("M0,1L160,1")
    }
    100% {
        d: path("M0,1L160,1")
    }
}

@keyframes typing-f1-l1 {
    0% {
        d: path("M0,1L0,1")
    }
    14% {
        d: path("M0,1L160,1")
    }
    100% {
        d: path("M0,1L160,1")
    }
}

#paw-right--up,
#paw-right--down,
#paw-left--up,
#paw-left--down {
    -webkit-animation: blink 300ms infinite;
    animation: blink 300ms infinite
}

#paw-right--up,
#paw-left--down {
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms
}

@-webkit-keyframes blink {
    0% {
        opacity: 0
    }
    49% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

@keyframes blink {
    0% {
        opacity: 0
    }
    49% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

#laptop__code {
    -webkit-transform: rotateX(-37deg) rotateY(-46deg) rotateZ(-23deg) translateX(8px) translateY(20px) translateZ(-50px);
    transform: rotateX(-37deg) rotateY(-46deg) rotateZ(-23deg) translateX(8px) translateY(20px) translateZ(-50px)
}

body.light {
    background: #ecedf1
}

body.light header .logo a {
    border-color: #0e0e11;
    color: #0e0e11
}

body.light header .logo a .v2::before {
    border-color: #0e0e11
}

body.light header .menu ul li a {
    color: #fff
}

body.light header .menu .btn {
    background: #fff;
    color: #0e0e11;
    border: 3px solid #0e0e11;
}

body.light .button {
    color: #0e0e11;
    border-color: #fff
}

body.light .button::before {
    background: #fff
}

body.light .button:hover {
    color: #0e0e11
}

body.light h3 {
    color: #fff
}

body.light h3::before {
    border-color: #0e0e11
}

body.light main .hello-banner .inner a {
    border-color: #0e0e11;
    color: #0e0e11
}

body.light main .hello-banner .inner a::before {
    background: #0e0e11
}

body.light main .hello-banner .inner a:hover {
    color: #fff
}

body.light main .hello-banner .inner h2 {
    color: #0e0e11
}

body.light main .hello-banner .inner h2::before {
    border-color: #ecedf1
}

body.light main .hello-banner .inner p {
    color: rgba(14, 14, 17, .7)
}

body.light main .hello-banner .inner p span {
    color: #0e0e11
}

body.light main .how-it-works .steps ul li {
    border-color: #d3d5dc
}

body.light main .how-it-works .steps ul li .icon {
    color: #0e0e11
}

body.light main .how-it-works .steps ul li .number {
    color: #d3d5dc
}

body.light main .how-it-works .steps ul li p {
    color: #0e0e11
}

body.light main .technologies>.title {
    color: rgba(14, 14, 17, .6)
}

body.light main .technologies ul li a {
    background: #0e0e11
}

body.light main .technologies ul li a .title {
    color: #fff
}

body.light main .latest-work .latest-work-item .browser {
    border-color: rgba(14, 14, 17, .1);
    background: rgba(14, 14, 17, .05)
}

body.light main .latest-work .latest-work-item .browser .content {
    border-color: #ecedf1
}

body.light main .latest-work .latest-work-item .inner .title {
    color: #0e0e11
}

body.light main .latest-work .latest-work-item .inner .description {
    color: rgba(14, 14, 17, .7)
}

body.light main .get-offer .form-container .form-title {
    color: #0e0e11
}

body.light main .get-offer .form-container .form-label .form-input textarea,
body.light main .get-offer .form-container .form-label .form-input input {
    border-color: rgba(14, 14, 17, .1);
    color: #0e0e11
}

body.light main .get-offer .form-container .form-label .form-input textarea::placeholder,
body.light main .get-offer .form-container .form-label .form-input input::placeholder {
    color: #0e0e11
}

body.light main .get-offer .form-container .form-label .form-input textarea:focus,
body.light main .get-offer .form-container .form-label .form-input input:focus {
    border-color: #f67521
}

body.light main .get-offer .form-container .form-checkbox .checkbox {
    border-color: rgba(14, 14, 17, .2)
}

body.light main .get-offer .form-container .form-checkbox .text {
    color: rgba(14, 14, 17, .3)
}

body.light main .get-offer .form-container .form-checkbox input:checked+.checkbox {
    border-color: #f67521
}

body.light main .get-offer .form-container .form-checkbox input:checked+.checkbox+.text {
    color: #0e0e11
}

body.light main .get-offer .form-container .form-alt-title {
    color: rgba(14, 14, 17, .6)
}

body.light #table path:first-child {
    fill: #ecedf1 !important
}

body.light footer .container .social ul li a {
    border-color: #0e0e11;
    color: #0e0e11
}

body.light footer .container .social ul li a i {
    border-color: #0e0e11
}

@media(max-width: 1100px) {
    .container {
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px
    }
    h3 {
        font-size: 20px
    }
    h3::before {
        width: 4px;
        height: 4px;
        bottom: 0;
        right: 1px
    }
    header .container {
        height: 85px;
        margin-bottom: 25px
    }
    header .container .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #0e0e11;
        z-index: 999;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        transition: 300ms all
    }
    header .container .menu.active {
        opacity: 1;
        visibility: visible
    }
    header .container .menu .logo {
        margin-bottom: 40px;
        display: block
    }
    header .container .menu ul {
        margin-right: 0;
        margin-bottom: 25px;
        flex-direction: column
    }
    header .container .menu ul li {
        margin: 0 0 20px 0;
        text-align: center
    }
    header .container .menu ul li a {
        display: inline-block
    }
    header .container .logo a {
        padding: 10px 20px;
        font-size: 26px
    }
    header .container .logo a .v2::before {
        width: 7px;
        height: 7px;
        bottom: 2px;
        right: -2px;
        border: 2px solid #0e0e11
    }
    header .container .toggle-btn {
        display: flex
    }
    main {
        margin: 0
    }
    main #bongo-cat {
        width: 80%
    }
    main .section {
        margin-bottom: 0
    }
    main .hello-banner {
        flex-direction: column
    }
    main .hello-banner::before {
        display: none
    }
    main .hello-banner .inner {
        padding-right: 0
    }
    main .hello-banner .inner a {
        font-size: 15px
    }
    main .hello-banner .inner h2 {
        font-size: 20px
    }
    main .hello-banner .inner h2::before {
        width: 4px;
        height: 4px;
        bottom: 0;
        right: 2px
    }
    main .hello-banner .inner p {
        font-size: 16px
    }
    main .how-it-works .steps ul {
        flex-direction: column
    }
    main .how-it-works .steps ul li {
        margin-bottom: 15px;
        padding: 10px 15px;
        border-right: 3px solid #17171b;
        flex-direction: row-reverse
    }
    main .how-it-works .steps ul li .number {
        display: none
    }
    main .how-it-works .steps ul li:nth-child(2) .number {
        left: -30px
    }
    main .how-it-works .steps ul li:nth-child(3) .number {
        font-size: 100px;
        left: -20px
    }
    main .how-it-works .steps ul li p {
        font-size: 14px
    }
    main .how-it-works .steps ul li .icon {
        font-size: 30px;
        margin-right: 0;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center
    }
    main .technologies ul {
        overflow: auto;
        margin: 0 -5px 30px
    }
    main .technologies ul li {
        width: 100px;
        min-width: 100px;
        margin: 0 5px
    }
    main .latest-work .latest-work-item {
        flex-direction: column !important;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 3px solid rgba(255, 255, 255, .1)
    }
    main .latest-work .latest-work-item:last-child {
        border-bottom: none;
        margin-bottom: 0
    }
    main .latest-work .latest-work-item .browser {
        width: 100%
    }
    main .latest-work .latest-work-item .browser .content {
        height: 200px
    }
    main .latest-work .latest-work-item .inner {
        padding-left: 0;
        padding-top: 15px
    }
    main .latest-work .latest-work-item .inner .title {
        font-size: 20px
    }
    main .latest-work .latest-work-item .inner .tags a {
        font-size: 14px
    }
    main .latest-work .latest-work-item .inner .description {
        font-size: 15px;
        margin-top: 15px
    }
    main .blog-posts {
        flex-direction: column
    }
    main .blog-posts .blog-single {
        width: 100%;
        padding: 15px 20px;
        margin-bottom: 15px
    }
    main .blog-posts .blog-single header h6 {
        font-size: 20px
    }
    main .blog-posts .blog-single .inner .time {
        font-size: 14px
    }
    main .blog-posts .blog-single .inner .category {
        padding: 4px 8px;
        font-size: 14px
    }
    main .button {
        font-size: 15px;
        height: 45px
    }
    main .button.big {
        font-size: 15px;
        height: 45px
    }
    main .related {
        padding: 0 15px;
        flex-wrap: wrap
    }
    main .related li {
        width: 100%;
        margin: 0 0 10px;
        flex: none
    }
    main .related li a {
        padding: 12px 18px;
        font-size: 18px;
        line-height: 1.4
    }
    main .related li a .time {
        margin-top: 6px
    }
    main .get-offer h3 {
        margin-bottom: 15px
    }
    main .get-offer .form-container:last-child {
        margin-top: 25px
    }
    main .get-offer .form-container:last-child .form-types {
        flex-wrap: wrap;
        margin-bottom: 15px
    }
    main .get-offer .form-container:last-child .form-types .form-checkbox {
        width: 100%;
        margin: 0 0 10px
    }
    main .get-offer .form-container .form-upload {
        flex-direction: column;
        align-items: flex-start
    }
    main .get-offer .form-container .form-upload .result-text {
        margin-left: 0;
        margin-top: 15px
    }
    main .get-offer .form-container .form-alt-title {
        font-size: 12px
    }
    main .contact-box {
        margin-bottom: 20px
    }
    main .contact-box ul {
        flex-wrap: wrap;
        margin: 0
    }
    main .contact-box ul li {
        box-sizing: border-box;
        width: 100%;
        flex: none;
        margin: 0 0 15px;
        font-size: 14px;
        padding: 15px 20px
    }
    main .contact-box ul li i {
        font-size: 30px;
        margin-right: 20px
    }
    main .get-offer .form-container .form-label .form-button {
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        align-items: flex-start
    }
    main .get-offer .form-container .form-label .form-button .result-text {
        margin-left: 0;
        margin-bottom: 15px
    }
    main .get-offer .form-container .form-label .form-button .result-text:empty {
        display: none
    }
    main .get-offer .form-container {
        margin-bottom: 0
    }
    main .get-offer .form-container .form-label {
        flex-wrap: wrap;
        margin: 0;
        margin-top: 0 !important
    }
    main .get-offer .form-container .form-label .form-button {
        margin: 0
    }
    main .get-offer .form-container .form-label .form-input {
        width: 100%;
        flex: none;
        margin: 0 0 15px
    }
    main .get-offer .form-container .form-label .form-input textarea {
        height: 150px
    }
    main .get-offer .form-container .divider {
        height: 0
    }
    footer .container .social {
        padding-top: 0
    }
    footer .container .social ul {
        margin: 0 -5px
    }
    footer .container .social ul li {
        margin: 0 5px 10px;
        width: calc(100% / 5 - 10px)
    }
    footer .container .social ul li a span {
        display: none
    }
    footer .container .social ul li a i {
        width: 100%;
        margin-right: 0;
        border-right: none
    }
    footer .container .social ul li.whatsapp {
        width: calc(100% - 10px)
    }
    footer .container .social ul li.whatsapp a {
        position: relative;
        justify-content: center
    }
    footer .container .social ul li.whatsapp a i {
        width: 50px;
        position: absolute;
        top: 0;
        left: 0;
        border-right: 3px solid #fff
    }
    footer .container .social ul li.whatsapp a span {
        display: block;
        padding-left: 20px
    }
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #fff;
    background: rgb(41, 41, 49);
}

.hljs-comment,
.hljs-quote {
    color: #5c6370;
    font-style: italic
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #c678dd
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e06c75
}

.hljs-literal {
    color: #56b6c2
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: #98c379
}

.hljs-built_in,
.hljs-class .hljs-title {
    color: #e6c07b
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #d19a66
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #61aeee
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}

.hljs-link {
    text-decoration: underline
}

.right-image-decor {
    background-image: url(https://www.yigidosoft.com/assets/images/right-bg-decor.png);
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    width: 100%;
    display: inline-block;
    height: 110%;
    margin-top: -200px;
    padding-top: 1400px;
}
.left-image-decor {
    background-image: url(https://www.yigidosoft.com/assets/images/left-bg-decor.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    display: inline-block;
    height: 110%;
    margin-top: -200px;
}
/*# sourceMappingURL=style.css.map */