html, body {
    height: 100%;
    padding:0;
    margin: 0;
    text-align:center;    
    font: 400 1em/1.5 "Neuton";
}
.container{
	width:100%;
	position:fixed;
	bottom:0;
    top: 90px;
}

.logo{
	width:100%;
	
}

div {
    width: 25%;
    float: left;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
	margin-bottom:10px;
	
	
}

@media screen and (max-width: 1400px) {
 /*   div {
        width: 50%;
        height: 50%;
        float: left;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        display: flex;
    }*/
}

@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1000px) {

}
@media screen and (max-width: 900px) {

}

@media screen and (max-width: 800px) {
    /*div {
        width: 100%;
        height: 50%;
        float: left;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        display: flex;
    }*/
}
@media screen and (max-width: 700px) {

}

@media screen and (max-width: 600px) {

}


#div1 {
}

#div2 {
}

#div3 {
}

#div4 {
}
#div1,#div2,#div3,#div4.img{cursor:crosshair;}

/*GrayScale*/
.column#grayscale img {
	-webkit-filter: grayscale(90%);
	filter: grayscale(90%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.column#grayscale:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

p {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    display: inline-block;
    border: 4px double rgba(255, 255, 255, .25);
    border-width: 4px 0;
    padding: .1em 0em;
    position: absolute;
    top: 1%;
    left: 50%;
    width: 40em;
    margin: 0 0 0 -20em;
}
p a{
    text-decoration: none;
}
p span {
    font: 800 2.5em "Oswald", sans-serif;
    letter-spacing: 0;
    padding: 0.25em 0 0.325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);
   /* Clip Background Image */
    background: url(/content/images/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
   /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
   /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}
/* Animate Background Image */
@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
   }
    100% {
        background-position: 100% 50%;
   }
}
